@media (max-width: 991px) {
    body{
    overflow-x: hidden;
    }
    .hi-slide{
        margin-left:  -215px !important;
        overflow: hidden;
        width: 157vw !important;
    }
    .navbar{
        width: 100vw;
    }
}
body {
    background: linear-gradient(180deg, rgba(15, 3, 5, 0.2) -162.91%, #0F0305 100%), url(Gradient.png)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }